@page
@model Semester_project_2.Pages.DuActionsModel
@{
    ViewData["Title"] = "DuActions";
}
    <div style="text-align:center;">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8" style="margin-top:30px;">
                    <h2 align="middle">Предстоящие мероприятия</h2>
                    <hr>
                    <div class="card" style="margin-top: 3rem;">
                        <div class="border_style_outset">  <img src="https://sun9-67.userapi.com/impf/DaXAR8iuC3PO6_oeveEl1h18QA43l3CuO4Ogwg/gsE70PLL2Ds.jpg?size=895x505&quality=96&proxy=1&sign=1fa9cd260caf4b4e829b762f3c77fe02&type=album" alt="7.27d" width="100%"></div>
                    
                        <div class="card-body">
                            <h4 align="middle">Новый год не за горами, а это значит...</h4>
                            <p>
                                Пришло время дарить подарки✨

                                Мы запускаем серию онлайн-викторин по теме Нового года в нашем Инстаграме!

                                3 недели = 3 викторины = 3 победителя, которые получат очень крутые призы🎉

                                Скорее подписывайся на наш Инстаграм и участвуй, первая викторина уже началась
                                <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Funivervillage%3Figshid%3D1mel4ilhti05s&post=-20011739_74967&cc_key=">Inst
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 3rem;">
                        <div class="border_style_outset">  <img src="https://sun9-34.userapi.com/impg/H6jyc_KdaD1AptEMHrLmWghsH3yefQ_zK-LPPQ/CT4hWJPvS3M.jpg?size=1080x1080&quality=96&proxy=1&sign=568354085fa7615548607311bb43dbb4&type=album" alt="7.27d" width="100%"></div>

                        <div class="card-body">
                            <h4 align="middle">🌿14 декабря, 20:00</h4>
                            <p>
                                Вечер китайской культуры от Международного клуба - вас ждут интересные мастер-классы, музыка и просмотр фильма.
                                Подробнее читайте в этом посте👇🏻
                                <br/>
                                <a href="https://vk.com/wall-114442620_6243">Тут</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-2"></div>
            </div>
        </div>
    </div>
