@page
@model Semester_project_2.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<br>
<br>
<br>

<style>


    #main {
        background-color: #f2f2f2;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
    }

    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }

    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid #bdc3c7;
        color: #bdc3c7;
        padding-top: 6px;
        margin-top: 10px;
    }

    .panel-default .panel-heading {
        background-color: #fff;
    }

    #real-estates-detail .slides li img {
        height: 450px;
    }
</style>

<div class="container">
    <div id="main">


        <div class="row" id="real-estates-detail"  style="background: #dfcefa; border:0.1px solid #6600ff;  border-radius:10px;">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                     
                    </div>
                    <div class="panel-body">

                        <div class="text-center" id="author">
                            <br />
                            <img width="200px" height="200px" src="https://img1.goodfon.ru/original/2048x1501/8/1e/naruto-ninja-uzumaki-red-eyes.jpg">
                            <h3>Наруто Узумаки</h3>
                            <p>Я бы с удовольствием пригласил тебя зайти и выпить, но боюсь, что ты согласишься.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills" style="margin-top:30px;">
                            <li class="active" style="margin-right:20px;"><a href="#detail" data-toggle="tab">О пользователе</a></li>
                            <li class=""><a href="#contact" data-toggle="tab">Редактировать профиль</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Информация о профиле</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                        <tr><td class="active">Зарегистрирован:</td><td>12-06-2016</td></tr>
                                        <tr><td class="active">Общежитие</td><td>ДУ</td></tr>
                                        <tr><td class="active">Кол-во лет проживания в общежитии</td><td>2 года</td></tr>
                                        <tr><td class="active">Пол:</td><td>Мужской</td></tr>
                                        <tr><td class="active">Полных лет:</td><td>21</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="contact">
                                <p></p>
                                <form method="post">
                                    <div class="form-group">
                                        <label>Ваше имя</label>
                                        <input type="text" class="form-control rounded" placeholder="Укажите Ваше Имя">
                                    </div>
                                    <div class="form-group">
                                        <label>Место проживания</label>
                                        <input type="text" class="form-control rounded" placeholder="Деревня Универсиады">
                                    </div>
                                    <div class="form-group">
                                        <label>Кол-во лет проживания в общежитии</label>
                                        <input type="email" class="form-control rounded" placeholder="10 лет">
                                    </div>
                                    <div class="form-group">
                                        <label>Статус</label>
                                        <input type="email" class="form-control rounded" placeholder="status">
                                    </div>

                                    <div class="form-group">
                                        <label>Фото</label>
                                        <input class="form-control rounded">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" data-original-title="" title="">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main -->
</div><!-- /.container -->
<style>
    .comments ul ul {
        margin-left: 60px;
    }

    .comments .comment img {
        margin-right: 20px;
    }

    .comments .comment {
        padding: 6px;
    }

        .comments .comment:hover {
            background: #eee;
        }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="margin-top:40px;">
                    Комментарии
                </div>
                <div class="panel-body comments">
                    <textarea class="form-control" placeholder="Оставьте Ваш комментарий" rows="5"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right">Отправить</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <li class="media">
                            <div class="comment">
                                <a href="#" class="pull-left">
                                    <img src="https://bootstraptema.ru/snippets/element/2016/comments/com-3.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <strong class="text-success">Пользователь 1</strong>
                                    <span class="text-muted">
                                        <small class="text-muted">2016-02-09</small>
                                    </span>
                                    <span class="text-muted pull-right">
                                        <small class="btn btn-danger btn-xs"><i class="fa fa-times"></i></small>
                                    </span>
                                    <p>
                                        Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="comment">
                                <a href="#" class="pull-left">
                                    <img src="https://bootstraptema.ru/snippets/element/2016/comments/com-4.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <strong class="text-success">Пользователь 2</strong>
                                    <span class="text-muted">
                                        <small class="text-muted">2016-02-08</small>
                                    </span>
                                    <p>
                                        Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="comment">
                                <a href="#" class="pull-left">
                                    <img src="https://bootstraptema.ru/snippets/element/2016/comments/com-4.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <strong class="text-success">Пользователь 3</strong>
                                    <span class="text-muted">
                                        <small class="text-muted">2016-02-08</small>
                                    </span>
                                    <p>
                                        Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="comment">
                                <a href="#" class="pull-left">
                                    <img src="https://bootstraptema.ru/snippets/element/2016/comments/com-4.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <strong class="text-success">Пользователь 4</strong>
                                    <span class="text-muted">
                                        <small class="text-muted">2016-02-08</small>
                                    </span>
                                    <p>
                                        Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
