@page
@model SemestreWork.Pages.AboutModel
@{ ViewData["Title"] = "О нас"; }

<main class="main align-self-center">
    <div class="container">
        <div class="row">

            <div class="col-2"></div>

            <div class="col-8" style="margin-top:30px;">
                <h2 align="middle">О проекте</h2>
                <hr>
                <div class="card">
                    <img src="http://evolution-ru.ru/wp-content/uploads/2016/08/SHkola-Almetevsk3.jpg" alt="DU" width="100%">
                    <div class="card-body">
                        <h4>Что такое CampusControl?</h4>
                        <p>
                            Это место, в котором могут объединится студенты из разных общежитий города Казань.
                            Здесь вы можете оставить отзывы об общежитиях, пообщаться в чатах, завести друзей и получать самую актуальную новостную информацию.

                        </p>

                        <h4>Общежития</h4>
                        <p>
                            На домашней странице нашего сайта вы можете выбрать одну из нескольких общажных домов и узнать информацию о преимуществах проживания в данном общежитии.
                        </p>

                        <h4>Мероприятия</h4>
                        <p>
                            Раздел мероприятий содержит всю самую актуальную информацию о мероприятиях, проводимых в общежитии.
                        </p>

                        <h4>Чат</h4>
                        <p>
                            В данном разделе вы можете познакомиться с людьми, непосредственно проживающими в выбранном общежитии.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>

        </div>
    </div>
</main>

