@page
@model SemestreWork.Pages.DUModel
@{
    ViewData["Title"] = "ДУ";
}
<div>
    <div id="block0" class="content-block row0" style="margin-top:30px; text-align:center;">
        <div class="inner-block">
            <a href="#" class="arrow-down"></a>
            <h1>О Деревне Универсиады</h1>
           
        </div> 
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style=" margin-top:40px;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" >
                <div class="carousel-item active">
                    <img src="~/img/DSC_0951.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="~/img/DSC_0951.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="~/img/DSC_0968.jpg" class="d-block w-100">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
        </div>

    </div>
<div id="block1" class="content-block row1" style="margin-top:30px;">
    <div class="inner-block">
        <a href="#" class="arrow-down"></a>
        <p style="text-align: justify;"><a href="https://universiadevillage.ru/about"><span style="color:#000000;">Деревня Универсиады</span></a> &mdash; жилой микрорайон, построенный в Казани в связи с проведением XXVII Всемирной Летней Универсиады 2013 года для проживания спортсменов и других участников делегаций. До и после Универсиады используется как самый крупный в России новый студенческий кампус Казанского Приволжского федерального университета (КПФУ), Поволжской государственной академии физической культуры, спорта и туризма (ПГАФКСТ), IT - лицея при Казанском Приволжском федеральном университете (КПФУ). На данный момент на территории проживает свыше 10 000 студентов.</p>
        <h2 style="font-size: 30px;">Сервисы Деревни Универсиады</h2>
        <p style="text-align: left;">
            <img alt="166123_3074" height="270" src="~/img/166123__3074.jpg" style="border-width: 0px; float: right; margin: 5px 15px;" width="324" /><strong><a href="https://universiadevillage.ru/services/pochta"><span style="color:#000000;">Почтовое отделение</span></a></strong><strong> </strong>находится в 11а на втором этаже. Почта предоставляет надежные и доступные услуги почтовой связи. Почтовый индекс 420010.<br />
            <em>
                <strong>График работы:</strong>&nbsp;Пн - пт &nbsp;10.00 - 19.00, обед 13.00 - 14.00.<br />
                <strong>Тел.&nbsp;</strong>+7 (843)&nbsp;237-81-23&nbsp;
            </em><br />
            <br />
            <strong><a href="https://universiadevillage.ru/services/time_cafe_comein"><span style="color:#000000;">Арт - пространство ComeIn Деревни Универсиады</span></a></strong> - студенческое кафе в доме 15а, созданное для учебы, работы, творчества и необычного отдыха! К Вашим услугам бесплатно мощный Wi-Fi, чай-кофе, сладости, игровые приставки, настольные игры, мастер-классы, музыкальные и киновечера и многое другое. Сервис all inclusive за все - платим только за время.<br />
            <em>
                <strong>График работы:</strong> Вт - вс 17.00 - &nbsp;22.30<br />
                <strong></strong>
            </em><em></em><br />
            <br />
            <strong><a href="https://universiadevillage.ru/services/salon_prokata"><span style="color:#000000;">Салон проката</span></a></strong><strong> </strong>предоставляет спортивный инвентарь и оборудование круглый год. В зависимости от сезона к Вашим услугам коньки, лыжи, ролики, велосипеды, самокаты, мячи и настольный теннис. Находится на спортплощадке возле Стелы.<br />
            <em><strong>График работы:</strong> Пн - сб 16.00 - &nbsp;22.00</em>
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/stolovaya"><span style="color:#000000;">Столовая</span></a></strong><strong> </strong>находится в доме 10а. В меню столовой Деревни Универсиады первые и вторые блюда, свежие салаты, десерты и выпечка.<br />
            <em><strong>График работы:</strong> </em> ежедневно с 9:00 до 20:00.
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/street_cafe"><span style="color:#000000;">Street cafe</span></a></strong> &mdash; молодежное кафе на территории Деревни Универсиады в 15а на первом 1 этаже.<br />
            В меню: фирменные супчики &quot;по цветам&quot;, WOK лапша,сытные мясные и нутовые сэндвичи с необычными соусами, освежающие и согревающие напитки.<br />
            &laquo;Street food. Eat good&raquo;<br />
            <strong>График работы:</strong> Ежедневно 17:00 - 23:00,
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/supermarket"><span style="color:#000000;">Супермаркет Деревни Универсиады</span></a></strong><strong> </strong>находится в третьем доме. Можно приобрести продукты питания, товары первой необходимости, а так же свежие, вкусные салаты и вторые блюда.<br />
            <strong>График работы:</strong> Ежедневно 10:00 - 22:00&nbsp;<br />
            <br />
            <strong><a href="https://universiadevillage.ru/services/atele"><span style="color:#000000;">Ателье Деревни Универсиады</span></a></strong>&nbsp;предлагает услуги по ремонту одежды по доступным ценам. Ателье находится в сервисном центре 11А на втором этаже. Цены от 80 руб.&nbsp;<br />
            <em><strong>График работы:</strong> <em>Пн, Ср, Чт с 09.00 - 18.00</em>, обед &nbsp;13.00 - 13.30.<strong>Тел.</strong><em>+7(917)8847266</em></em><br />
            <br />
            <strong><a href="https://universiadevillage.ru/services/kopi_centr"><span style="color:#000000;">Копи-центр Деревни Универсиады</span></a>&nbsp;</strong>находится в сервисном центре в доме 11а. За приемлимую цену можно сделать копию конспектов, распечатать рефераты, подшить курсовую, сканировать документы, ламинировать и распечатать фотографии. А так же нанести изображения на магниты, значки, кружки и многое другое.<br />
            <em><strong>График работы:</strong> </em><em><em>Пн- сб с 9:00 &ndash; 18:00</em></em>
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/prachechnaya_samoobslujivaniya"><span style="color:#000000;">Прачечная самообслуживания Деревни Универсиады</span></a></strong> находится в 11а на нулевом этаже. Здесь можно быстро постирать и посушить повседневную одежду, постельное белье, пуховики. Приятный бонус - комфортная зона ожидания.&nbsp;<strong>Тел</strong>. +7(987)1752695<br />
            <em><strong>График работы:</strong> Ежедневно<em> 9.00 - 21.00</em></em>
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/tattelekom"><span style="color:#000000;">Офис продаж Таттелеком</span></a></strong> находится в 11а на втором этаже<strong>.&nbsp;</strong>Под брендом &laquo;Летай&raquo; компания &laquo;Таттелеком&raquo; предлагает полный комплекс телекоммуникационных услуг. Можно с легкостью настроить интернет, IP TV и подключить мобильную связь.<br />
            <em><strong>График работы:</strong> <em>Вт - чт 13.00 - 21.00</em></em>
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/kopirovalnyy_vending"><span style="color:#000000;">Копировальные вендинги</span></a></strong>&nbsp; выполняют копирование документов без участия оператора в режиме самообслуживания. Копир позволяет клиентам самостоятельно копировать любой документ в три шага: поместить оригинал документа в аппарат; опустить деньги в купюро-, монетоприемник; получить копию документа.<br />
            <em><strong>График работы:</strong> </em><em><em>ежедневно</em></em>
        </p>

        <p style="text-align: left;">
            <strong><a href="https://universiadevillage.ru/services/bankomat_akibank"><span style="color:#000000;">Банкомат и платежный терминал</span></a> </strong>Выдача и внос денежных средств.Внимание! Помните, что при снятии денег с карт, отличных от карт АкиБанка, банкомат взимает комиссию!<br />
            <em><strong>График работы:</strong> </em><em><em>ежедневно</em></em>
        </p>
    </div>
</div>
<div id="block2" class="content-block row2">
    <div class="inner-block">
        <a href="#" class="arrow-down"></a>
        <h2 style="font-size: 30px;">Правила проживания</h2>
        <p><a href="~\lib\Pravila_vnutrennego_rasporyadka.pdf" download>Скачать файл</a></p>

        <ul>
            <li>Запрещается курить;</li>
            <li>Употреблять спиртное, наркотики;&nbsp;</li>
            <li>Запрещается драться;</li>
            <li>Шуметь и включать музыку с 22.00 до 7.00;</li>
            <li>Запрещается пачкать, клеить что-либо на стены;</li>
        </ul>

        <ul>
            <li>Ломать и выносить мебель;</li>
            <li>Менять замки;</li>
            <li>Оставлять включенными электроприборы;</li>
            <li>Запрещается содержать животных.</li>
        </ul>
    </div>
</div>
</div>


