@page
@model SemestreWork.Pages.HomeModel
@{
    ViewData["Title"] = "Главная";
}

<main class="main align-self-center">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="mainIndex">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col" style="margin-right: 10px;">
                            <h2>Деревня Универсиады</h2>
                            <a href="/DU">
                                <img src="~/img/DU-about.jpg" />
                            </a>
                            <div class="textMain">
                                Деревня Универсиады - один из ключевых объектов XXVII Всемирной летней Универсиады 2013 года в Казани и XVI Чемпионата мира по водным видам спорта в г. Казани, на территории которого сейчас проживает более 10 тысяч студентов двух казанских вузов: Казанского (Приволжского) федерального университета и Поволжской государственной академии физической культуры, спорта и туризма.

                                Первых студентов Деревня приняла уже в сентябре 2010 года. Общая площадь Деревни Универсиады – 53 га, жилая – 38 га. Деревня включает в себя 28 жилых домов, входящих в состав 3-х жилых кластеров, и в настоящий момент является уникальным студенческим городком с развитой инфраструктурой, в которой большое внимание уделяется вопросам обеспечения безопасности.
                            </div>
                        </div>
                        <div class="col">
                            <h2>Общежитие КФУ № 9</h2>
                            <a href="/Pushkino">
                                <img src="~/img/DSC_0968.jpg" />
                            </a>
                            <div class="textMain">
                                Отличная возможность жить в центре Казани. До главных достопримечательностей, к которым устремляются туристы, рукой подать: известное «Кольцо» с памятником Габдуллы Тукая, парк Тысячелетия, Ленинский сад и «Эрмитаж», уютный скверик Вахитова. В шаговой доступности ст. метро «Площадь Габдуллы Тукая» и остановки общественного транспорта.
                                После недавнего ремонта, полностью изменились интерьеры, появились просторные площади, были полностью заменены коммуникации. В комнатах была установлена новая мебель, поменяны окна, проведен высокоскоростной интернет. Комнаты рассчитаны на 2-4 человека, для которых предусмотрена кровать, личная тумбочка, полка и ящик, стол для учебы. Кухня и санузел общие на несколько комнат   .
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

