@page
@model SemestreWork.Pages.PushkinoActionsModel
@{
    ViewData["Title"] = "PushkinoActions";
}

    <div style="text-align:center;">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8" style="margin-top:30px;">
                    <h2 align="middle">Предстоящие мероприятия</h2>
                    <hr>
                    <div class="card" style="margin-top: 3rem;">
                        <div class="border_style_outset">  <img src="~/img/sL1e2oyFvBc.jpg" alt="7.27d" width="100%"></div>

                        <div class="card-body">
                            <h4 align="middle">Игра 😎Killer😎</h4>
                            <p>
                                Победители получат вкусные призы(3 ПИЦЦЫ😱)

                                Читай правила и записывайся скорее👇🏻

                                по всем вопросам к Ведущему
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdneSdjPWrFlMx9qucHaQyAG90GltKFHMpw2R_VQJQAWO5D1Q/viewform">
                                    Запись
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 3rem; margin-bottom: 5rem;">
                        <div class="border_style_outset">  <img src="https://sun9-66.userapi.com/impf/VaIhC6Onvl2EGkaXuuRHRxrMVf_ProdXucvVVQ/KzCGwJcjuKY.jpg?size=1280x720&quality=96&proxy=1&sign=dae28373b8d6bf4ac9a152260b6d43b7&type=album" alt="7.27d" width="100%"></div>

                        <div class="card-body">
                            <h4 align="middle">Тайный Санта в деле 🎅</h4>
                            <p>
                                Ты уже знаешь, кто твой подопечный, теперь давай разберёмся, что делать дальше!

                                Внимательно прочитай на сайте пожелания (если они есть, конечно) и отправляйся за подарками. Постарайся подойти к этому с фантазией, не дари всякую ерунду 🌛

                                Но и не забывай про сумму подарка: 300 рублей. Больше — можно, меньше — нет 🙅

                                ⚠ Успей купить, оформить и подарить подарок до 20 декабря, вдруг твой подопечный уезжает домой на праздники 🎄

                                Ты можешь подложить подарок незаметно:
                                > передать через знакомых
                                > оставить подарок под дверью
                                > передать через соседей
                                > придумать что-то оригинальное!

                                Но будет здорово, если вручишь лично.

                                Кстати! Самый оригинальный Тайный Санта получит ещё один подарок, но уже от нас (об этом мы расскажем чуть позже) 🕯
                                <br />
                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-2"></div>
            </div>
        </div>
    </div>
