@page
@model SemestreWork.Pages.PushkinoModel
@{
    ViewData["Title"] = "Pushkino";
}


    <div style="margin-top: 20px; text-align: center;">
        <div class="inner-block">
            <a href="#" class="arrow-down"></a>
            <h1>О КФУ №9</h1>

        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style=" margin-top:40px;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/DSC_0951.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="~/img/DSC_0951.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="~/img/DSC_0968.jpg" class="d-block w-100">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
        </div>
        <div style="margin-top: 60px;">
            <h3 class="text-align-justify"><strong>Краткая справка</strong></h3>

            <p class="text-align-justify">Количество этажей:&nbsp; 10</p>

            <p class="text-align-justify">Студенческие годы, проведенные в общежитии, запомнятся особенно. И дело не в интерьере или бытовых условиях, хотя и это важно, дело в атмосфере, которая там складывается. В общежитии №9 с этим нет никаких проблем. Вместе с другими студентами ты будешь обустраивать быт, учиться быть самостоятельным, проводить досуг.</p>

            <p class="text-align-justify"><img alt="фасад" data-entity-type="file" data-entity-uuid="7d43ba1e-b619-411b-950f-15805f85ed2e" src="~/img/DSC_0968.JPG" style="width:500px" height="400px" class="mCS_img_loaded"></p>

            <h3 class="text-align-justify"><strong>Какие преимущества проживания в общежитии №9?</strong></h3>

            <p class="text-align-justify">Ты узнал, что будешь проживать в девятом общежитии Студенческого городка? Замечательно, собирай вещи и приезжай к нам. Мы тебя ждем, а пока расскажем о некоторых преимуществах проживания в нашем общежитии.</p>

            <p class="text-align-justify"><em><strong>Удобное расположение</strong></em></p>

            <p class="text-align-justify">Общежитие №9 расположено на одной из главных улиц города Казани — ул. Пушкина,32. Это не помеха для твоего покоя и тишины, потому что дом находится в некотором отдалении от&nbsp;шумной магистрали. Зато все необходимые тебе объекты: СК УНИКС, Центр информационных технологий КФУ и сам университет в 5 минутах ходьбы. До центра города тоже рукой подать, так что вопрос, куда сходить, отпадает.</p>

            <p class="text-align-justify"><em><strong>Комфортабельные комнаты</strong></em></p>

            <p class="text-align-justify">Это не красное словцо, а настоящая правда. Ремонт пошел общежитию на пользу: полностью изменились интерьеры, появились просторные площади, были полностью заменены коммуникации. В комнатах была установлена новая мебель, поменяны окна, проведен высокоскоростной интернет. Комнаты рассчитаны на 2-4&nbsp;человека, для которых предусмотрена кровать, личная тумбочка, полка и ящик, стол для учебы. Кухня и санузел общие на несколько комнат, также после ремонта и требует повышенного внимания.</p>

            <p class="text-align-justify"><img alt="комната" data-entity-type="file" data-entity-uuid="2281f371-17c8-4f4f-a603-3e33ff7b27b3" src="~/img/DSC_0951.JPG" style="width:90%" class="mCS_img_loaded"></p>

            <p class="text-align-justify"><em><strong>Развитая внешняя инфраструктура</strong></em></p>

            <p class="text-align-justify">Тебе выпала отличная возможность жить в центре Казани. До главных достопримечательностей, к которым устремляются туристы, рукой подать: известное «Кольцо» с памятником Габдуллы Тукая, парк Тысячелетия, Ленинский сад и «Эрмитаж», уютный скверик Вахитова. Продукты и вещи можно купить в ближайших ТЦ и супермаркетах, а если захочешь исследовать город в шаговой доступности ст. метро «Площадь Габдуллы Тукая» и остановки общественного транспорта.</p>

            <p class="text-align-justify"><em><strong>Условия для учебы и развлечений</strong></em></p>

            <p class="text-align-justify">В нашем актовом зале часто проходят собрания, конкурсы, соревнования между общежитиями. А в читальном зале ты сможешь уединиться, чтобы подготовиться к предстоящей сессии или зачету.</p>

            <p class="text-align-justify">Приезжай, мы ждем тебя!</p>

            <h3 class="text-align-justify"><strong>Контакты</strong></h3>

            <p class="text-align-justify">Общежитие №9</p>

            <p class="text-align-justify">Адрес: 420111, г. Казань, ул. Пушкина, д. 32;</p>

            <p class="text-align-justify">Телефон: 236-38-44.</p>
        </div>

    </div>

                      
