@page
@model SemestreWork.Pages.SiteUsersModel
@using Microsoft.AspNetCore.Http
@using SemestreWork.Models;

@{ ViewData["Title"] = "Пользователи";
    int uid = 0;
    if (HttpContext.Session.Get<string>("AuthReady") == "true")
    {
        var user = HttpContext.Session.Get<RegisterModel>("AuthUser");
        if (user != null)
        {
            uid = user.Id;
        }
    } 
}

<div class="container">
    <main role="main" class="pb-3">
        <h2>Все зарегистрированные пользователи:</h2>
        <button class="btn btn-primary" id="load1">Получить</button>
        <div id="grid1"></div>

        <script>
            $(function () {
                $('#load1').on('click', function () {
                    $('#grid1').load('/SiteUsers?handler=UsersPartial');
                });
            });
        </script>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </main>
</div>
