@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins&family=Quicksand&family=Roboto&display=swap');

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

html {
    width: auto;
    min-height: 100%;
}

header {
    background-size: cover;
    background-attachment: fixed;
}

#nav1 a:hover {
    color: #C0C0C0;
}

#footer-nav a {
    color: #FFFFFF;
}

#footer-nav a:hover {
    color: #C0C0C0;
}

#authorization {
    width: auto;
    margin-right: 1rem;
}

#registration {
    width: auto;
    margin-right: 2rem;
}

#authorization:hover {
    color: #C0C0C0;
}

#registration:hover {
    color: #C0C0C0;
}

.modal-content {
    background-color: #F8F8FF;
}

.form-group {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0.5rem;
}

label {
    margin-left: 0.1rem;
}

.form-control {
    background-color: #FFFFFF;
    height: 35px;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: bold;
}

.btn {
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background: #5a7ce2;
    background: -moz-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
    background: -webkit-linear-gradient(-45deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
    background: linear-gradient(135deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7ce2', endColorstr='#575cdb',GradientType=1 );
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-outline-primary:hover {
    background-color: #5a7ce2;
    border-color: #5a7ce2;
    color: #fff;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0% 31%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0% 31%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }

    50% {
        background-position: 100% 70%
    }

    100% {
        background-position: 0% 31%
    }
}

.btn-outline-light:hover {
    color: #3f345f;
}

.btn-outline-warning:hover {
    color: #ffffff;
}

.btn-sm {
    font-size: 12px;
    padding: 11px 25px;
}

.elements-page-btn .btn {
    margin: 6px 3px;
}

nav {
    font-family: 'Dosis', sans-serif;
    height: auto;
    background-color: #191970;
    position: fixed;
    top: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

main {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

body {
    height: 100%;
    background: url(https://bootstraptema.ru/images/bg/bg-1.png);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

footer {
    font-family: 'Dosis', sans-serif;
    background: #483D8B;
    color: #fff;
    /* margin-top: 30rem; */
}
.col {
    border: 3px solid #6D64A2;
    border-radius: 20px;
    text-align: center;
}
.textMain{
   
    padding:20px;
}
.mainIndex img {
    margin-top:15px;
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 10px;
}
.card {
    
}
.border_style_outset {
    border: 5px outset #565bd9;
    padding: 0px;
    margin-bottom: 0px;
}
.conversation-wrap {
    box-shadow: -2px 0 3px #ddd;
    padding: 0;
    max-height: 400px;
    overflow: auto;
}

.conversation {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.message-wrap {
    box-shadow: 0 0 3px #ddd;
    padding: 0;
}

.msg {
    padding: 5px;
    /*border-bottom:1px solid #ddd;*/
    margin: 0;
}

.msg-wrap {
    padding: 10px;
    max-height: 400px;
    overflow: auto;
}

.time {
    color: #bfbfbf;
}

.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    /*background: #f8f8f8;*/
}

.send-message {
    resize: none;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-panel {
    background: #f7f7f9;
}

    .btn-panel .btn {
        color: #b8b8b8;
        transition: 0.2s all ease-in-out;
    }

        .btn-panel .btn:hover {
            color: #666;
            background: #f8f8f8;
        }

        .btn-panel .btn:active {
            background: #f8f8f8;
            box-shadow: 0 0 1px #ddd;
        }

.btn-panel-conversation .btn, .btn-panel-msg .btn {
    background: #f8f8f8;
}

    .btn-panel-conversation .btn:first-child {
        border-right: 1px solid #ddd;
    }




